{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" .}} - FileSharer</title>
</head>
<body>
    <nav>
        <header>FileSharer</header>

        <section>
            <div>
                <a href="#">Share</a>
            </div>

            <div>
                <a href="#">Download</a>
            </div>
        </section>
    </nav>

    <main>
        {{ template "main" .}}
    </main>

    <footer>
        &copy; FileSharer
    </footer>
</body>
</html>
{{ end }}